
.text-font {
    font-family: "Azeret Mono", monospace;
}

.head-container {
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0px auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.parson-image {
    width: 20%;
}

.primary-title {
    font-family: "Azeret Mono", monospace;
    font-weight: 800;
    width: 60%;
    margin: 0px auto;
    font-size: 36px;
    text-align: center;
}

.head-container a {
    text-decoration: none;
    font-weight: 500;
}

.discription {
    font-family: "Azeret Mono", monospace;
    font-size: 13px;
    width: 70%;
    margin: 0px auto;
    padding: 0px 5%;
    text-align: center;
    color: #0D1321;
}

.btn {
    padding: 10px 15px;
    background-color: black;
    border-radius: 5px;
    margin: 20px;
    color: white;

}

.larn-and-searvices {
    max-width: 1100px;
    background-color: #FAFAFB;
    margin: 100px auto;
    border-radius: 5px;
}

.services-container {
    padding: 50px;
}

.secondary-title {
    font-size: 28px;
    color: #0D1321;
    font-weight: 800;
    font-family: "Azeret Mono", monospace;
    text-align: center;

}

.coding-world {
    margin: 20px 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(239, 240, 242, 0), rgba(199, 207, 228, 0.313) 100%);
}

.learn-coding {
    padding: 10px 40px;
    border-radius: 16px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;

}

.item-title {
    margin-top: 50px;
    font-size: 23px;
    font-weight: bold;
    color: rgba(12, 17, 29, 0.7);
    font-family: "Azeret Mono", monospace;

}

.sub-title {
    margin: 40px 0px;
    font-weight: 500;
    font-size: 12px;
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);

}

.secondary-btn {
    padding: 10px 20px;
    text-align: center;
    color: rgb(13, 19, 33);
    font-weight: 700;
    background-color: transparent;
    border: 1px solid rgba(2, 2, 2, 0.614);

}

.skill-services-container {
    padding: 30px 0px;
    /* background-color: #0D1321; */
}

.insparation-cotainer {
    margin: 100px auto;
    max-width: 1100px;
}

.inspiration-sourch {
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.inspiration-frame {
    width: 100%;
    height: 600px;
    border-radius: 10px;

}

.current-target {
    margin: 100px auto;
    max-width: 1100px;
}

.target-title {
    font-weight: 700;
    font-size: 23px;
    font-family: "Azeret Mono", monospace;

}

.target-items {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.target-item {
    border-radius: 10px;
    padding: 25px;
    background-color: lightblue;
}

.terget-sub-title {
    font-size: 14px;
    font-family: "Azeret Mono", monospace;
    opacity: 0.5;

}

.target-item a {
    font-weight: 600;
    color: black;
}

.html-color {

    background: rgba(255, 76, 30, 0.05);
}

.css-color {

    background: rgba(0, 76, 232, 0.05);
}

.js-color {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.support {
    max-width: 1100px;
    /* height: 500px; */
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.728), rgba(252, 250, 250, 0.084), rgba(0, 0, 0, 0.801)), url("../assets/handshake.jpg");
    margin: 100px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;

    /* background:); */


}

.rupport-container {
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.support-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-sub-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

input[type=text] {
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 3px;
    padding: 15px 20px;
    outline: none;
    background: rgb(255, 255, 255);
    width: 60%;
}

input[type=button] {
    border-radius: 3px;
    color: rgba(13, 19, 33, 0.808);
    font-family: Azeret Mono;
    padding: 13px 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    background: rgb(255, 255, 255);
}

.info {
    border-radius: 4px;
    background: rgba(13, 19, 33, 0.03);
    width: 100%;
}

.footer-title {
    width: 50%;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.info-container {
    margin: 10px auto;
    max-width: 1100px;

}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.icons {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.images {
    width: 30px;
    margin: 0px 15px;
}